<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"  href="../static/styles/style.css" />

    </head>
<body>
    <div class = "section1">
        <div class="text1">TEXT</div>
        <div class="text2">CATEGORIZATION</div>
    </div>
    <div class = "section2">
        <div>
            <h1>UPLOAD CSV FILE:</h1>
            <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
            <br>
            <h1>ENTER ABSTRACT TEXT:</h1>
            <form method="post" action="{{ url_for('cluster') }}">
                <textarea name="text" rows="5" cols="80"></textarea><br>
                <input type="submit" value="Cluster">
            </form>
            <h1>{{ heading_1 }}</h1>
                {{ data|safe }}
        </div>
    </div>

</body>
</html>


