<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV File</title>
</head>

<body>
    <h1>Upload CSV File</h1>
    <form action="{{ url_for('update') }}" method="post" enctype="multipart/form-data">
        <label for="file">Choose a CSV file:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
